@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-default: #79bec1;
  --primary-light: #acdee0;
  --primary-lighter: #def5f6;
  --primary-dark: #4b979b;
  --primary-darker: #2f8083;
  --secondary-default: #ffe09f;
  --secondary-light: #ffecc3;
  --secondary-lighter: #fff7e6;
  --secondary-dark: #ffd47b;
  --secondary-darker: #d9ab4d;
}

body {
  background-color: var(--primary-lighter);
}

.registerGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr) repeat(3, 0);
  grid-template-rows: 0.5fr repeat(2, 1fr) repeat(2, 0);
}

.registerBanner {
  grid-area: 1 / 1 / 2 / 3;
}
.registerMessage {
  grid-area: 2 / 1 / 5 / 2;
}
.registerForm {
  grid-area: 2 / 2 / 5 / 3;
}
