.innerShadowTitle {
  
  font-weight: 800;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--secondary-darker);
}

.innerShadowTitleBlue {
  font-weight: 800;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--primary-darker);
}

.innerShadowTitleOrange {
  font-weight: 800;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--secondary-darker);
}

.innerShadowSubTitle {
  font-weight: 600;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--secondary-darker);
}

.innerShadowDescription {
  font-weight: 700;
  color: transparent;
  text-shadow: 4px 4px 7px rgb(255, 255, 255, 0.4), 0 0 var(--primary-dark);
}