<td class="esd-stripe" align="center" background="https://ehserys.stripocdn.email/content/guids/CABINET_5c258a4c32f0353efed35594869ddf77f5d9197eca7f50e5ffd2d04a758e69ea/images/captura_de_pantalla_20240627_191221.png" style="background-image:url(https://ehserys.stripocdn.email/content/guids/CABINET_5c258a4c32f0353efed35594869ddf77f5d9197eca7f50e5ffd2d04a758e69ea/images/captura_de_pantalla_20240627_191221.png);background-repeat:repeat;background-position:center top">
    <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="500">
      <tbody>
        <tr>
          <td class="esd-structure es-p10t es-p5r es-p5l" align="left" bgcolor="#fff2cc" style="background-color:#fcfcfc;background-repeat:no-repeat;background-position:center top;background-size:auto contain">
            <table cellpadding="0" cellspacing="0" align="right" class="es-right">
              <tbody>
                <tr>
                  <td width="490" class="esd-container-frame" align="center" valign="top">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tbody>
                        <tr>
                          <td align="center" class="esd-block-text es-p10b es-m-txt-c es-text-2036"> <p style="font-size:26px;line-height:150% !important;font-family:-apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;" align="center">CONFIRMA TU CUENTA!</p> </td>
                        </tr>
                        <tr>
                          <td align="center" class="esd-block-text es-p40r es-p40l es-m-p0r es-m-p0l es-text-3299 es-p25t es-p25b"> <p style="font-size:18px;line-height:200% !important" align="center">Has
                              recibido este mensaje porque tu dirección de correo electrónico ha sido
                              registrada en nuestro sitio. Por favor, haz clic en el botón de abajo para
                              verificar tu dirección de correo electrónico y confirmar que eres el
                              propietario de esta cuenta.</p> </td>
                        </tr>
                        <tr>
                          <td align="center" class="esd-block-text es-p10t es-p5b"> <p>Si no te registraste con nosotros, por favor ignora este correo
                              electrónico.</p><p>​</p> </td>
                        </tr>
                        <tr>
                          <td align="center">
                            <span style="border-radius:6px;border-style:solid;border-width:1px;border-color:#333333; padding: .5em;">
                              <a href="{{ url }}" target="_blank" style="border-radius:6px;color:#333333;padding:305px 85px;font-size:18px;text-decoration:none;">CONFIRMA TU CUENTA</a>
                            </span>
                          </td>
                        </tr>                      
                        <tr>
                          <td align="center" class="esd-block-text es-p5t es-p5b es-p40r es-p40l es-m-p0r es-m-p0l"> <p>​</p><p>Una vez confirmado, este correo electrónico estará asociado de manera
                              única a tu cuenta.&nbsp;</p><p>​</p> <p><strong> FERIAS EL PLAC - COMPRÁ, VENDÉ, RECICLÁ, RENOVÁ. SHOWROOM Y ENVÍOS A TODO EL PAÍS</strong></p> <p><strong>Ingresa a nuestra tienda y seguínos en redes!</strong></p> </td>
                        </tr><tr>
                          <td align="center" class="esd-block-social es-p15t es-p15b" style="font-size:0">
                            <table cellpadding="0" cellspacing="0" class="es-table-not-adapt es-social">
                              <tbody>
                                <tr>
                                  <td align="center" valign="top" class="es-p40r es-m-p0r"><a target="_blank" href="https://www.facebook.com/elplacarddemibebot"><img title="Facebook" src="https://ehserys.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png" alt="Fb" width="32"></a> </td>
                                  <td align="center" valign="top" class="es-p40r es-m-p0r"><a target="_blank" href="https://elplacarddemibebot.mitiendanube.com/"><img title="X.com" src="https://ehserys.stripocdn.email/content/assets/img/social-icons/logo-black/x-logo-black.png" alt="X" width="32"></a> </td>
                                  <td align="center" valign="top"><a target="_blank" href="https://www.instagram.com/el_placard_de_mi_bebot"><img title="Instagram" src="https://ehserys.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png" alt="Inst" width="32"></a> </td>
  
                                </tr>
                              </tbody>
                            </table> </td>
                        </tr>
                      </tbody>
                    </table> </td>
                </tr>
              </tbody>
            </table> </td>
        </tr>
      </tbody>
    </table> </td>