<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmación de inscripción a Feria</title>
  <style>
    :root {
      --primary-default: #79bec1;
      --primary-light: #acdee0;
      --primary-lighter: #def5f6;
      --primary-dark: #4b979b;
      --primary-darker: #2f8083;
      --secondary-default: #ffe09f;
      --secondary-light: #ffecc3;
      --secondary-lighter: #fff7e6;
      --secondary-dark: #ffd47b;
      --secondary-darker: #d9ab4d;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: var(--primary-lighter);
      margin: 0;
      padding: 0;
    }

    .container {
      background-color: #ffffff;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      max-width: 600px;
    }

    h1 {
      color: var(--primary-darker);
      text-align: center;
    }

    p {
      color: var(--primary-dark);
      line-height: 1.6;
    }

    a {
      display: inline-block;
      margin-top: 20px;
      padding: 10px 20px;
      background-color: var(--primary-default);
      color: black;
      text-decoration: none;
      border-radius: 5px;
    }

    a:hover {
      background-color: var(--primary-dark);
    }

    .footer {
      text-align: center;
      margin-top: 20px;
      color: var(--primary-light);
      font-size: 12px;
    }

    .qr-container {
      text-align: center;
      margin-top: 20px;
    }

    .data-list {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .data-list li {
      background-color: var(--secondary-lighter);
      margin: 5px 0;
      padding: 10px;
      border-radius: 5px;
    }

    .header {
      background-color: var(--secondary-default);
      padding: 10px;
      border-radius: 10px 10px 0 0;
      text-align: center;
    }

    .header h1 {
      color: var(--secondary-darker);
      margin: 0;
    }

    .footer p {
      color: var(--secondary-dark);
    }

    .container {
      border: 2px solid var(--secondary-default);
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="header">
      <h1>Confirmación de inscripción</h1>
    </div>
    <h1>Hola {{name}},</h1>
    <p>Te has inscrito exitosamente a la feria. Ya está habilitada la carga de tus productos en el sistema! Recordá enviar los productos el día anterior al inicio de la feria. Una vez enviados y cargados los productos, serán evaluados por nuestro equipo, y se clasificarán los productos según el criterio de aprobación. Si deseas saber cuales son, te invito a leer el términos y condiciones que se encuentran en la página!.</p>
    <div class="footer">
      <p>Si no te has inscrito en la feria, por favor, ignora este correo.</p>
    </div>
  </div>
</body>

</html>