<html>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <style>
      body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol'; background-color: #f4f4f4; margin: 0; padding: 0;
      -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; } table {
      border-spacing: 0; } td { padding: 0; } img { border: 0; display: block;
      line-height: 100%; outline: none; text-decoration: none; } a {
      text-decoration: none; color: #333333; } .es-content-body {
      background-color: #ffffff; } .es-text-2036 { font-size: 26px; line-height:
      150% !important; text-align: center; padding: 10px 0; } .es-text-3299 {
      font-size: 18px; line-height: 200% !important; text-align: center;
      padding: 25px 40px; } .es-p10t { padding-top: 10px; } .es-p5b {
      padding-bottom: 5px; } .es-p40r { padding-right: 40px; } .es-p40l {
      padding-left: 40px; } .es-p25t { padding-top: 25px; } .es-p25b {
      padding-bottom: 25px; } .es-p10b { padding-bottom: 10px; }
      .esd-block-social { font-size: 0; text-align: center; } .es-social {
      display: inline-block; padding: 0; } .es-social td { padding: 0 40px; }
    </style>
  </head>
  <body>
    <table
      class='es-content'
      align='center'
      cellpadding='0'
      cellspacing='0'
      width='100%'
    >
      <tr>
        <td
          class='esd-stripe'
          align='center'
          background='https://ehserys.stripocdn.email/content/guids/CABINET_5c258a4c32f0353efed35594869ddf77f5d9197eca7f50e5ffd2d04a758e69ea/images/captura_de_pantalla_20240627_191221.png'
          style='background-image:url(https://ehserys.stripocdn.email/content/guids/CABINET_5c258a4c32f0353efed35594869ddf77f5d9197eca7f50e5ffd2d04a758e69ea/images/captura_de_pantalla_20240627_191221.png);background-repeat:repeat;background-position:center top'
        >
          <table
            bgcolor='#ffffff'
            class='es-content-body'
            align='center'
            cellpadding='0'
            cellspacing='0'
            width='500'
          >
            <tr>
              <td
                class='esd-structure es-p10t es-p5r es-p5l'
                align='left'
                bgcolor='#fff2cc'
                style='background-color:#fcfcfc;background-repeat:no-repeat;background-position:center top;background-size:auto contain'
              >
                <table
                  cellpadding='0'
                  cellspacing='0'
                  align='right'
                  class='es-right'
                >
                  <tr>
                    <td
                      width='490'
                      class='esd-container-frame'
                      align='center'
                      valign='top'
                    >
                      <table cellpadding='0' cellspacing='0' width='100%'>
                        <tr>
                          <td
                            align='center'
                            class='esd-block-text es-p10b es-m-txt-c es-text-2036'
                          >
                            <p
                              style='font-size:26px;line-height:150% !important;font-family:-apple-system,BlinkMacSystemFont,&#39;Segoe UI&#39;,Roboto,Helvetica,Arial,sans-serif,&#39;Apple Color Emoji&#39;,&#39;Segoe UI Emoji&#39;,&#39;Segoe UI Symbol&#39;'
                              align='center'
                            >TU CUENTA HA SIDO DESBLOQUEADA</p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            align='center'
                            class='esd-block-text es-p40r es-p40l es-m-p0r es-m-p0l es-text-3299 es-p25t es-p25b'
                          >
                            <p
                              style='font-size:18px;line-height:200% !important'
                              align='center'
                            >Hola {{name}},</p>
                            <p
                              style='font-size:18px;line-height:200% !important'
                              align='center'
                            >Nos alegra informarte que tu cuenta ha sido
                              desbloqueada y puedes volver a acceder a nuestros
                              servicios.</p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            align='center'
                            class='esd-block-text es-p10t es-p5b'
                          >
                            <p>Si tienes alguna pregunta, no dudes en
                              contactarnos.</p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            align='center'
                            class='esd-block-text es-p5t es-p5b es-p40r es-p40l es-m-p0r es-m-p0l'
                          >
                            <p>Gracias por tu comprensión.</p>
                            <p><strong>
                                FERIAS EL PLAC - COMPRÁ, VENDÉ, RECICLÁ, RENOVÁ.
                                SHOWROOM Y ENVÍOS A TODO EL PAÍS</strong></p>
                            <p><strong>Ingresa a nuestra tienda y seguínos en
                                redes!</strong></p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            align='center'
                            class='esd-block-social es-p15t es-p15b'
                            style='font-size:0'
                          >
                            <table
                              cellpadding='0'
                              cellspacing='0'
                              class='es-table-not-adapt es-social'
                            >
                              <tr>
                                <td
                                  align='center'
                                  valign='top'
                                  class='es-p40r es-m-p0r'
                                ><a
                                    target='_blank'
                                    href='https://www.facebook.com/elplacarddemibebot'
                                  ><img
                                      title='Facebook'
                                      src='https://ehserys.stripocdn.email/content/assets/img/social-icons/logo-black/facebook-logo-black.png'
                                      alt='Fb'
                                      width='32'
                                    /></a></td>
                                <td
                                  align='center'
                                  valign='top'
                                  class='es-p40r es-m-p0r'
                                ><a
                                    target='_blank'
                                    href='https://elplacarddemibebot.mitiendanube.com/'
                                  ><img
                                      title='X.com'
                                      src='https://ehserys.stripocdn.email/content/assets/img/social-icons/logo-black/x-logo-black.png'
                                      alt='X'
                                      width='32'
                                    /></a></td>
                                <td align='center' valign='top'><a
                                    target='_blank'
                                    href='https://www.instagram.com/el_placard_de_mi_bebot'
                                  ><img
                                      title='Instagram'
                                      src='https://ehserys.stripocdn.email/content/assets/img/social-icons/logo-black/instagram-logo-black.png'
                                      alt='Inst'
                                      width='32'
                                    /></a></td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>