<td class="esd-stripe" align="center" bgcolor="#cfe2f3" style="background-repeat:repeat;background-image:url(https://ehserys.stripocdn.email/content/guids/CABINET_7e535b70e6aff3bb0551ed7ab88e01f9812474e05be666dfe6e6f23a8165a336/images/captura_de_pantalla_20240628_160403.png);background-position:left top" background="https://ehserys.stripocdn.email/content/guids/CABINET_7e535b70e6aff3bb0551ed7ab88e01f9812474e05be666dfe6e6f23a8165a336/images/captura_de_pantalla_20240628_160403.png">
<table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600">
 <tbody>
  <tr>
   <td class="esd-structure es-p15t es-p20r es-p20l" align="left" bgcolor="#fff2cc" style="background-color:#fff2cc;background-image:url(https://ehserys.stripocdn.email/content/guids/CABINET_7e535b70e6aff3bb0551ed7ab88e01f9812474e05be666dfe6e6f23a8165a336/images/captura_de_pantalla_20240627_191221.png);background-repeat:repeat;background-position:left top" background="https://ehserys.stripocdn.email/content/guids/CABINET_7e535b70e6aff3bb0551ed7ab88e01f9812474e05be666dfe6e6f23a8165a336/images/captura_de_pantalla_20240627_191221.png">
    <table cellpadding="0" cellspacing="0" width="100%">
     <tbody>
      <tr>
       <td width="560" class="esd-container-frame" align="center" valign="top">
        <table cellpadding="0" cellspacing="0" width="100%">
         <tbody>
          <tr>
           <td align="center" class="esd-block-image es-p10t es-p10b" style="font-size: 0px;"><a target="_blank"><img src="https://ehserys.stripocdn.email/content/guids/CABINET_7e535b70e6aff3bb0551ed7ab88e01f9812474e05be666dfe6e6f23a8165a336/images/image.png" alt="" style="display:block" width="560" class="adapt-img"></a></td>
          </tr>
          <tr>
           <td align="center" class="esd-block-text es-p15t es-p15b es-p40r es-p40l es-m-p0r es-m-p0l es-m-txt-c es-text-6349" esd-links-underline="none"><h1 align="center"><span style="font-size:36px;line-height:150%;background:transparent">Restablecer contraseña​</span><span class="es-text-mobile-size-36" style="background:transparent">​</span></h1></td>
          </tr>
          <tr>
           <td align="left" class="esd-block-text es-p10t"><p>Después de hacer clic en el botón "RESTABLECER CONTRASEÑA", se te pedirá que completes los siguientes pasos:</p>
            <ol>
             <li>Ingresa una nueva contraseña.</li>
             <li>Confirma tu nueva contraseña.</li>
             <li>Haz clic en Enviar.</li>
            </ol></td>
          </tr><tr>
           <td align="center" class="esd-block-button es-p10t es-p10b"><span class="es-button-border" style="border-radius:6px;background:#9fc5e8;border-style:solid;border-width:1px;border-color:#333333"><a href="{{url}}" class="es-button es-button-8530" target="_blank" style="border-left-width:30px;border-right-width:30px;border-radius:6px;background:#9fc5e8;mso-border-alt:10px solid #9fc5e8;color:#333333">RESTABLECER CONTRASEÑA</a></span></td>
          </tr>
         </tbody>
        </table></td>
      </tr>
     </tbody>
    </table></td>
  </tr>
  <tr>
   <td class="esd-structure es-p20b es-p20r es-p20l" align="left" bgcolor="#cfe2f3" style="background-color:#cfe2f3;background-image:url(https://ehserys.stripocdn.email/content/guids/CABINET_7e535b70e6aff3bb0551ed7ab88e01f9812474e05be666dfe6e6f23a8165a336/images/captura_de_pantalla_20240627_191221.png);background-repeat:repeat;background-position:left top" background="https://ehserys.stripocdn.email/content/guids/CABINET_7e535b70e6aff3bb0551ed7ab88e01f9812474e05be666dfe6e6f23a8165a336/images/captura_de_pantalla_20240627_191221.png">
    <table cellpadding="0" cellspacing="0" width="100%">
     <tbody>
      <tr>
       <td width="560" class="esd-container-frame" align="center" valign="top">
        <table cellpadding="0" cellspacing="0" width="100%" style="border-radius: 5px; border-collapse: separate;">
         <tbody>
          
          <tr>
           <td align="center" class="esd-block-text es-p10t es-m-txt-c"><h3 style="line-height: 150%;">Este link es válido para usar UNA vez. Expira en 1 hora.</h3></td>
          </tr>
          <tr>
           <td align="center" class="esd-block-text es-p10t es-p10b"><p style="line-height: 150%;">Si no solicitaste restablecer tu contraseña, por favor ignora este mensaje o contacta a nuestro departamento de servicio al cliente.</p></td>
          </tr>
         </tbody>
        </table></td>
      </tr>
     </tbody>
    </table></td>
  </tr>
 </tbody>
</table></td>